.footer-container{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding: 0.5rem 0rem 1rem 0rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.legal-notice{
    font-size: small;
    opacity: 70%;
}